.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
/vendor
languages
composer.lock
package-lock.json
.phpunit.cache
composer-local.json
.env
resources/scripts/dist/
storage/plugin/views/*